.map{
    margin: auto;
    background: #000;
    text-align: center;
    width: 70%;
}

.land
{
    fill: #FFF;
    fill-opacity: 1;
    stroke:rgb(23, 174, 226);;
    stroke-opacity: 1;
    stroke-width:0.5;
}

.land:hover{

    fill: rgb(0, 93, 170);
}

.modal-content{
    background: transparent;
    box-shadow: none;
    border: none;
}