.container{
    margin:auto;
    background: #000;
}

.land
{
    fill: #FFF;
    fill-opacity: 1;
    stroke:rgb(23, 174, 226);;
    stroke-opacity: 1;
    stroke-width:0.5;
}

.land:hover{

    fill: rgb(0, 93, 170);
}

.container svg{
  height: 700px;
  width: 100%;
}